{% extends "baseAdmin.html.twig" %}
{% block title 'AdminHub - List user' %}
{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Rôle</th>
            </tr>
            </thead>
            <tbody>
        {%  for user in user%}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles[0] }}</td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}
{% endblock %}