{% extends "base.html.twig" %}
{% block title 'EpiHub - Profile' %}
{% block body %}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="container">
<div class="card" style="width:400px">
  <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{ app.user.username }}</h4>
    <p class="card-text">bla bla bla</p>
    <a href="#" class="btn btn-primary">Test</a>
  </div>
</div>
</div>
{% endif %}
{% endblock %}